
#client-logos {
  margin-top: 1rem;
}

#clients .client-img {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0.9375rem;
  transition: transform 150ms;
  height: 15rem;
  width: 15rem;
}
@media only screen and (max-width: 650px) {
  #clients .client-img {
    width: 7rem;
    height: 3rem;
    padding: 0.3rem;
  }
}
#clients .client-img img {
  max-height: 100%;
  max-width: 100%;
}
#clients .client-img:hover {
  box-shadow: 0 0 10px #aaa;
  transform: scale(1.1);
}
